<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script>
        function onCreated() {
            var obj = document.getElementById("sidebar-menu").ej2_instances[0];
            obj.mediaQuery = window.matchMedia('(min-width: 600px)');
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="body-content" class="maincontent">
        @RenderBody()
    </div>
    @{Html.EJS().Sidebar("sidebar-menu").Target(".maincontent").Width("200px").Created("onCreated").Type(Syncfusion.EJ2.Navigations.SidebarType.Push).Target(".maincontent").ContentTemplate(@<div>
    <!-- Sidebar content -->
    <div>
        <span id="close" class="e-btn close-btn">
            <span id="innerclose" class="e-icons close-icon"></span>
        </span>
    </div>
    <div class="title-header" style="text-align:center">
        <ul>
            <li class="sidebar-item" id="toggle">
                <span class="e-text" title="Sidebar layout page sample">Sidebar layout page sample</span>
            </li>
        </ul>
    </div>
</div>).Render();}

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("PreScripts", required: false)
    @Html.EJS().ScriptManager()

    <script>
        var win = window;
        win.isManualResizeTrigger = true;
        //Initialize the Sidebar after main content has been loaded in the child view page.
        setTimeout(() => { win.dispatchEvent(new Event('resize')); }, 500);
        document.addEventListener('DOMContentLoaded', function () {
            sidebarInstance = document.getElementById("sidebar-menu").ej2_instances[0];
            sidebarInstance.show();
        });
        document.getElementById('close').addEventListener('click', function () {
            sidebarInstance = document.getElementById("sidebar-menu").ej2_instances[0];
            sidebarInstance.hide();
            var openbutton = document.createElement("span");
            openbutton.setAttribute('class', 'open e-icons');
            openbutton.setAttribute('id', 'openbutton');
            var bodycontent = document.getElementById('body-content');
            bodycontent.insertBefore(openbutton, bodycontent.firstChild);
            openbutton.addEventListener('click', function () {
                sidebarInstance.show();
                openbutton.remove();
            });
        });
    </script>
    <style>
        #sidebar-menu {
            background: #007DD1;
            color: white;
        }

        #innertext {
            color: white;
            font-size: 15px;
            font-weight: 500;
            margin-top: 100px;
        }

        .maincontent {
            height: 100vh;
        }

        .sidebar-item {
            list-style-type: none;
            padding: 8px;
            font-size: 15px;
        }

        .title-header ul {
            padding: 0 !important;
        }

        .sidebar-item, .open {
            cursor: pointer;
        }

        .title-header {
            position: absolute;
            top: 40px;
            text-align: center;
            width: 100%;
        }

        .close-icon::before {
            content: '\e945';
        }

        .close-btn, .close-btn:hover, .close-btn:active {
            float: right;
            background: transparent;
            color: white;
            box-shadow: none;
        }

        .e-sidebar.e-open + .mainelement {
            padding: 25px 0 0 20px;
        }

        .e-sidebar.e-close + .mainelement {
            padding-left: 20px;
        }

        .open::before {
            content: '\e7ca';
            font-size: 20px;
        }

        .open {
            padding: 15px;
            display: inline-block;
        }
    </style>
</body>
</html>
