<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("https://cdn.syncfusion.com/ej2/material.css")
    @Styles.Render("http://cdn.syncfusion.com/16.1.0.24/js/web/ej.widgets.core.material.compatibility.min.css")
    @Styles.Render("http://cdn.syncfusion.com/16.1.0.24/js/web/material/ej.theme.compatibility.min.css")

    @Styles.Render("~/Content/ej.responsive.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @*@Scripts.Render("http://cdn.syncfusion.com/js/assets/external/jquery.easing.1.3.min.js")*@
    @Scripts.Render("http://cdn.syncfusion.com/js/assets/external/jquery.globalize.min.js")
    @Scripts.Render("http://cdn.syncfusion.com/js/assets/external/jsrender.min.js")
    @Scripts.Render("http://cdn.syncfusion.com/16.1.0.24/js/web/ej.web.all.js")
    <script src="~/Scripts/jquery.validate.js"></script>
    @*@Scripts.Render("http://cdn.syncfusion.com/16.1.0.24/js/common/ej.unobtrusive.min.js")*@
    @Scripts.Render("https://cdn.syncfusion.com/ej2/dist/ej2.min.js")
</head>
<body style="padding-top:0px">
    <div class="container body-content">
        <div class="head">
            <h3>Partial view: </h3>
            <h5> This sample demonstrates the partial view of DatePicker component.</h5>
        </div>
        <div class="align">
            @Html.EJS().DatePicker("datepicker").Placeholder("Choose a Date").Value(ViewBag.value).Render()
        </div>
        @RenderBody()
        <hr />
    </div>
    <style>
        .align {
            margin: 0 auto;
            width: 300px;
        }
    </style>
    @RenderSection("scripts", required: false)
    @Html.EJS().ScriptManager()
    @Html.EJS().ScriptManager()
</body>
</html>
