@using Syncfusion.EJ2
<h3>SetCulture sample: </h3>
<h5> This sample demonstrates the setCulture properties of Picker's component.</h5>
<br />
<div class="align">
    @Html.EJS().Calendar("calendar").Value(ViewBag.value).Render()
</div>
<div class="align1">
    @Html.EJS().DatePicker("datepicker").Value(ViewBag.value).Render()
</div>
<div class="align1">
    @Html.EJS().DateTimePicker("datetimepicker").Value(ViewBag.value).Render()
</div>
<div class="align1">
    @Html.EJS().DateRangePicker("daterangepicker").StartDate(ViewBag.startDate).EndDate(ViewBag.endDate).Render()
</div>
<div class="align1">
    @Html.EJS().TimePicker("timepicker").Value(ViewBag.value).Render()
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var L10n = ej.base.L10n;
        L10n.load({
            "de": {
                "calendar": {
                    today: "heute"
                },
                'datepicker': {
                    placeholder: 'Wählen Sie ein Datum',
                    today: 'heute'
                },
                'daterangepicker': {
                    placeholder: 'Wählen Sie einen Bereich aus',
                    startLabel: 'Wählen Sie Startdatum',
                    endLabel: 'Wählen Sie Enddatum',
                    applyText: 'Sich bewerben',
                    cancelText: 'Stornieren',
                    selectedDays: 'Ausgewählte Tage',
                    days: 'Tage',
                    stomRange: 'benutzerdefinierten Bereich',
                    startDate: 'Anfangsdatum',
                    endDate: 'Enddatum'
                },
                'datetimepicker': {
                    placeholder: "Wählen Sie ein Datum und eine Uhrzeit aus",
                    today: "heute"
                },
                'timepicker': {
                    placeholder: 'Wählen Sie Zeit'
                }
            }
        });
        loadCultureFiles('de');
    });

    function loadCultureFiles(name) {
        var files = ['numbers.json', 'timeZoneNames.json', 'currencies.json', 'ca-gregorian.json'];
        var loadCulture = function (prop) {
            var val, ajax;
                ajax = new ej.base.Ajax(location.origin + '/../../scripts/cldr-data/main/' + name + '/' + files[prop], 'GET', true);
                ajax.onSuccess = function (value) {
                    val = value;
                    ej.base.loadCldr(JSON.parse(val));
                };
            ajax.send();
            ej.base.setCulture('de');
        };
        for (var prop = 0; prop < files.length; prop++) {
            loadCulture(prop);
        }
    }

</script>

<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
    .align1 {
        margin: 0 auto;
        width: 300px;
        padding-top: 40px;
    }
</style>

