@{
    ViewBag.Title = "Home Page";
}
<div class="sf-samples" style="margin-top:22px;">
    <ul class="ulstyle">
        <li class="list" style="list-style:none">
            <code> Calendar Samples </code>
            <div class="column">
                <hr />
                @Html.ActionLink("Value, min, and max properties", "MinMaxProperties", "Calendar", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Model binding from code behind", "ModelBinding", "Calendar", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Globalization", "Globalization", "Calendar", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Partial View", "PartialView", "Calendar", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Calendar with and without using time zone", "TimeZone", "Calendar", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> DatePicker Samples </code>
            <div class="column">
                <hr />
                @Html.ActionLink("Value, min, and max properties", "MinMaxProperties", "DatePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Model binding from code behind", "ModelBinding", "DatePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Form postback", "PostBack", "DatePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Globalization", "Globalization", "DatePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("DatePickerFor", "DatePickerFor", "DatePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Partial View", "PartialView", "DatePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("DatePicker using Ajax", "AjaxCalling", "DatePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("DatePicker with and without using time zone", "TimeZone", "DatePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> DateTimePicker Samples </code>
            <div class="column">
                <hr />
                @Html.ActionLink("Value, min, and max properties", "MinMaxProperties", "DateTimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Model binding from code behind", "ModelBinding", "DateTimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Form postback", "PostBack", "DateTimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Globalization", "Globalization", "DateTimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("DateTimePickerFor", "DateTimePickerFor", "DateTimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Partial View", "PartialView", "DateTimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("DateTimePicker using Ajax", "DateTimeAjax", "DateTimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("DateTimePicker with and without using time zone", "TimeZone", "DateTimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> DateRangePicker Samples </code>
            <div class="column">
                <hr />
                @Html.ActionLink("Value, min, and max properties", "MinMaxProperties", "DateRangePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Model binding from code behind", "ModelBinding", "DateRangePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Form postback", "PostBack", "DateRangePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Globalization", "Globalization", "DateRangePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("DateRangePickerFor", "DateRangePickerFor", "DateRangePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Partial View", "PartialView", "DateRangePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("DateRangePicker using Ajax", "DateRangeAjax", "DateRangePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("DateRangePicker with and without using time zone", "TimeZone", "DateRangePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> TimePicker Samples </code>
            <div class="column">
                <hr />
                @Html.ActionLink("Value, min, and max properties", "MinMaxProperties", "TimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Model binding from code behind", "ModelBinding", "TimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Form postback", "PostBack", "TimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Globalization", "Globalization", "TimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("TimePickerFor", "TimePickerFor", "TimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Partial View", "PartialView", "TimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("TimePicker using Ajax", "TimePickerAjax", "TimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("TimePicker with and without using time zone", "TimeZone", "TimePicker", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> Sidebar Samples </code>
            <div class="column">
                <hr />
                @Html.ActionLink("Model binding from code behind", "ModelBinding", "Sidebar", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
                @Html.ActionLink("Partial View", "PartialView", "Sidebar", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
            </div>
        </li>
        <li class="list" style="list-style:none">
            <code> Set culture Sample </code>
            <div class="column">
                <hr />
                @Html.ActionLink("SetCulture sample", "SetCulture", "SetCulture", null, new { Style = "text-decoration:none;color:#428bca;" })
                <hr />
            </div>
        </li>
    </ul>
</div>